@{
    ViewBag.Title = "Index";
}

<style>
    .anchor {
        display: block;
        height: 63px; /* this is the height of your header */
        margin-top: -63px; /* this is again negative value of the height of your header */
        visibility: hidden;
    }
    img {
        width: 360px;
        border: solid 1px black;
    }
    th, td {
        padding: 3px;
    }
    .mid {
        text-align: center;
    }

</style>


<h1>ASP.NET MVC Web Application with CRUD Functionality</h1>


<br />
<h3>Content</h3>
<ul>
    <li><a href="#LookAndFeel">Look and Feel</a></li>
    <li><a href="#Technologies">Technologies</a></li>
    <li><a href="#Database">Database</a></li>
</ul>

<br />
<br />
<br />
<span class="anchor" id="LookAndFeel"></span>
<h3><b>Look and Feel</b></h3>

<table border="0">
    <tr>
        <td><a href="~/Resources/Images/OrderIndex.png"><img src="~/Resources/Images/OrderIndex.png" alt="OrderIndex" /></a></td>
        <td><a href="~/Resources/Images/OrderDetails.png"><img src="~/Resources/Images/OrderDetails.png" alt="OrderDetails" /></a></td>
    </tr>
    <tr>
        <td class="mid"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Click on the image to enlarge.</td>
        <td class="mid"><span class="glyphicon glyphicon-zoom-in"></span>&nbsp;Click on the image to enlarge.</td>
    </tr>
</table>


<br />
<br />
<br />
<span class="anchor" id="Technology"></span>
<h3><b>Technologies</b></h3>
<ul>
    <li>ASP.NET MVC 5.2</li>
    <li>ASP.NET Blazor</li>
    <li>.Net Framework 4.8</li>
    <li>C#</li>
    <li>JavaScript</li>
    <li>jQuery 3.4</li>
    <li>BootStrap 3.4</li>
    <li>Entity Framework 6.2</li>
    <li>LINQ</li>
    <li>Microsoft SQL Server 2019 Express</li>
    <li>Microsoft SQL Server Management Studio 18</li>
    <li>Microsoft Visual Studio Community 2022</li>
</ul>


<br />
<br />
<br />
<span class="anchor" id="Database"></span>
<h3><b>Database</b></h3>
<p>Using modified <a href="https://github.com/Microsoft/sql-server-samples/tree/master/samples/databases/northwind-pubs" target="_blank">Northwind database</a> sample from Microsoft.</p>
<p>Read <a href="" target="_blank">ReadMe.md</a> for more info on what changes are applied to the database.</p>

<br />
<br />
<br />


