@if (!string.IsNullOrWhiteSpace(ViewBag.AlertMessage))
{
    switch ((string)ViewBag.AlertType)
    {
        case "Danger":
            <div class="alert alert-danger text-center">
                @ViewBag.AlertMessage
            </div>
            break;
        case "Info":
            <div class="alert alert-info text-center">
                @ViewBag.AlertMessage
            </div>
            break;
        case "Success":
            <div class="alert alert-success text-center">
                @ViewBag.AlertMessage
            </div>
            break;
        case "Warning":
            <div class="alert alert-warning text-center">
                @ViewBag.AlertMessage
            </div>
            break;
    }
}
